#container-base {
    margin-bottom: 30%;
}

#calendar {
    padding: 15px;
    
}

.tabela {
    width: 69.3em;
    max-width: 69.3em !important;
    border: 1px solid rgb(190, 28, 28);
    
}
.tabela thead tr th{
    border: 1px solid lightgrey;
    
}




.container-icones-internos {
    /* background-color: lightpink; */
    margin-left: 0px;
    margin-right: 0px;
    width: 69em;
    max-width: 69em /*!important*/;
    padding-top: 7px;
    padding-bottom: 2px;

}



#btn-esq, #btn-dir {
   padding-left: 2em;
   padding-right: 2em; 
   padding-top: 0px;
   padding-bottom: 0px !important;
   font-size: 19px;
}


.div-btn-esq {
    text-align: right;
    /* background-color: aqua; */
}

.meses-ano {
    text-align: center;
    font-size: 22px;
    /* background-color: chartreuse; */
}

#traco-ano {
    margin-left: 3px;
    margin-right: 5px;
}

.div-btn-dir {
    text-align: left;
    /* background-color: deeppink; */
}




/* Dias semanas */
.dias_semanas_legenda {
    width: 4em;
    border: 1px solid lightgrey;
    text-align: center;
}



/* Dias do calendário */
.tabela tbody tr td{
    border: 1px solid lightgrey;
    border-collapse: collapse;
    height: 108px;
    max-height: 108px !important;
}


.container-ul {
    margin: 0px;
    padding: 0px;
}
.dia ,.reservas{
    margin-top: 1px;
    margin-left: 2.5px;
    margin-bottom: 2px;
    margin-right: 2px;
    width: 151.196px;
    max-width: 155.196px !important;
    height: 21px;
    max-height: 27px !important;
    border-radius: 6px;
    padding-left: 4px;
    padding-right: 4px;
    list-style-type: none;
    /* background-color: coral; */
}

.reservas {
   /*  background-color: lightseagreen; */
    font-size: 13px;
    height: auto;
}
.reservas:hover {
    cursor: pointer;
}


