
#body-home2 {
    /* background-color: blueviolet; */
}

#container-home-pai-2 {
    margin-top: 5em;
}

#container-home {
    /* background-color: #f5b1a5; */
    height: 2.8em;
	max-height: 2.8em;

    padding-top: 1em;
    padding-bottom: 9.3em;
    border: 1px solid lightgrey;
    border-radius: 15px;
}


.form-control-home2 {
    width: 17% !important;
    margin-right: 2em;
}



.coluna-interna-1-home2 {
    /* background-color: #FF7575; */
}

.coluna-interna-2-home2 {
    /* background-color: #FF7575; */
    padding-bottom: 1em;
    padding-top: 1.5em;
}

.container-nav-bar {
    border-radius: 15px;
}

.btn-color {
    background-color: #3992DA;
}


/* Container do calendário */
#container-base {    
    margin-top: 2em;
    padding-bottom: 15px;

    border: 1px solid lightgrey;
    border-radius: 15px;

    

    height: auto;
}

.container-pai {
    padding-left: -15px;
    padding-right: -15px;
}