<div xmlns:th="http://www.thymeleaf"
	 th:fragment="barra-dias-semanas"
	 class="container-fluid" > 

    
      <ul class="nav">
        <li class="nav-item item-barra-semanas">
          <span class="nav-link">Domingo</span>
        </li>
        <li class="nav-item item-barra-semanas">
           <span class="nav-link">Segunda</span>
         </li>
         <li class="nav-item item-barra-semanas ">
           <span class="nav-link">Terça</span>
         </li>
         <li class="nav-item item-barra-semanas ">
           <span class="nav-link">Quarta</span>
           
         </li>
         <li class="nav-item item-barra-semanas ">
           <span class="nav-link">Quinta</span>
           
         </li>
         <li class="nav-item item-barra-semanas ">
           <span class="nav-link">Sexta</span>
           
         </li>
         <li class="nav-item item-barra-semanas ">
           <span class="nav-link">Sabado</span>
           
         </li>
      </ul>
      
      <div id="container-calendario-template">
        <ul class="nav container-ul-calendario">
          <li class="nav-item dia-do-mes">
            <span class="nav-link">1</span>
          </li>
          <li class="nav-item dia-do-mes">
            <span class="nav-link">2</span>
          </li>
          <li class="nav-item dia-do-mes ">
            <span class="nav-link">3</span>
          </li>
          <li class="nav-item dia-do-mes">
            <span class="nav-link">4</span>
            
          </li>
          <li class="nav-item dia-do-mes">
            <span class="nav-link">5</span>
            
          </li>
          <li class="nav-item dia-do-mes">
            <span class="nav-link">6</span>
            
          </li>
          <li class="nav-item dia-do-mes">
            <span class="nav-link">7</span>
            
          </li>
        </ul>

    </div> 
   
				
</div>

 