<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{templates/head :: head}"></head>
<head>
	<link th:href="@{/css/templates/home.css}" rel="stylesheet" />
</head>

<body>	

<div th:replace="~{templates/barra-inicial-home :: div-barra-inicial-home}"></div>
		 


			 
		<div class="container" id="container-home-pai-2">
			
			<span style="color: lightgray">
				<b>O que precisa terminar:</b>
				Na barra inicial pegar o nome do usuáio direto no banco de dados / Configurar o botão sair /
				Preparar todo tipo de pesquisa para a barra de pesquisa / No calendário fazer aparecer a 
				reserva quando agendado na data solicitada;
			</span>

			<div class="row" id="container-home">
			
				<div class="col-12">
					
					<h2 class="titulo_nav_bar">Agenda de Reservas</h2>

				</div>
				
				<div class="col-12 coluna-interna-card">					
					<nav class="navbar navbar-expand-lg navbar-light bg-light container-nav-bar">
						
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
						  <span class="navbar-toggler-icon"></span>
						</button>
					  
						<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
						  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
							<li class="nav-item active">
								<a class="navbar-brand" th:href="@{/reserva/criar}">Criar</a>
							</li>
							<li class="nav-item">
								<a class="navbar-brand" th:href="@{/reserva/reservas}">Reservas</a>
							</li>
							<li class="nav-item">
								<a class="navbar-brand" th:href="@{/reserva/historico}">Histórico</a>
							</li>
						  </ul>
						  <form class="form-inline my-2 my-lg-0">
							<input class="form-control mr-sm-2" type="search" placeholder="Pesquisar">
							<button class="btn btn-primary my-2 my-sm-0" type="submit">Pesquisar</button>
						  </form>
						</div>
					  </nav>
				</div>
			</div>
		</div>

		<div class="container" >
			<div class="row" id="container-base">
				<div id="calendar">

					<!-- Código JS -->

				</div>
			</div>
		</div>
		
		<div id="teste-img">
			
		</div>

	
	


<script type="text/javascript" th:src="@{/js/jquery/jquery-3.6.1.js}"></script>

<script th:inline="javascript">
	


	var today = new Date();
    var currentMonth = today.getMonth();
    var currentYear = today.getFullYear();

function renderCalendar(month, year) {
  	var calendar = document.getElementById("calendar");

  	// Lista de meses e dias da semana
	const monthList = ["Janeiro","Fevereiro","Março","Abril","Maio","Junho","Julho","Agosto","Setembro","Outubro","Novembro","Dezembro"];
	var weekDays = ["Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sábado"];

	// Obter o primeiro dia do mês
	var firstDay = new Date(year, month, 1);	// Trás o primeiro dia do Mẽs atual
	var startingDay = firstDay.getDay();
 
	// pegando o nome do mes atual por nome
	var monthIndex = today.getMonth();
	var nomeMes = monthList[currentMonth];

	// Obter o número de dias no mês
	var monthLength = new Date(year, month + 1, 0).getDate();  		// Trás o número de dias do mes atual

	console.log(nomeMes)

  	// Adiciona o cabeçalho com o nome do mês e os dias da semana

	var html = "<table class='tabela'>";  // Cria a tabela do calendário
        html += "<thead class=''>" + 
                    "<tr class=''>" +    // primeira linha
                        
                        "<th colspan='7' class=''>" +
							"<div class='row '>" +
								
								// div col 1 - com classes bootstrap imbutidas
								/* "<div class='col div-btn-esq'>" +
                            		"<button id='btn-esq' class='btn btn-sm btn-info align-middle' onclick='prevMonth()'>" + 
										  "<span id='seta-prev'><<</span>" +
									"</button>"+
								"</div>" + */

								// div col 2
								"<div class='col meses-ano'>" +
                             		monthList[month] + " <span id='traco-ano'>-</span>"+year+
								"</div>" +

								// div col 3 - com classes bootstrap imbutidas
								/* "<div class='col div-btn-dir'>" +
                             		"<button id='btn-dir' class='btn btn-sm btn-info' onclick='nextMonth()'>" +
										"<span id='seta-next'>>></span>" +
									"</button>" +
								"</div>" + */

							"</div>" +
                        "</th>"+                         
                    "</tr>" + 
				"</thead>";


			// Topo do calendário - Semanas
           html += "<tr>";      
            for (var i = 0; i < weekDays.length; i++) {
                html += "<th class='dias_semanas_legenda'>" + weekDays[i] + "</th>";
            }
           html += "</tr>"+           
            "</thead>";



  // Adiciona os dias do mês
  var day = 1;
  var i;
  var j;
  var cont_number = 0;
  let arrayDias = [];  

  for (i = 0; i < 6; i++) {
    html += "<tr>";						 
    for (j = 0; j < 7; j++) {
	var cellId = "cell_" + i + "_" + j; // Adiciona um ID único para cada célula
      if (i === 0 && j < startingDay) {
        html += "<td></td>";  
      } else if (day > monthLength) {
        html += "<td></td>";
      } else {
		
        html += "<td class='align-top td-mes'>" +			
						"<li class='dia dia_number'>"+day+"</li>" +
						// td's a serem adicionadas...
				"</td>";
        day++;
		}  
    }
    html += "</tr>";
  }
  html += "</table>";



  
  calendar.innerHTML = html;		// Insere a tabela no elemento com o ID "calendar"


  // Guardando as dt's no array
  $('.tabela .td-mes').each(function(){
  		arrayDias.push($(this));
  })

  console.log(arrayDias)  // de 0 a 29

  var baseLink = /*[[@{/reserva/reservas}]]*/'';   // Link para o @Controller funcionando ! 


  // Acessando um dia do calendário dentro do array e inserindo a url respectiva
  var setor_ccih = "CCIH";


  var reservaEstourada = 'reserva-estourada';
  var reservaFeita = 'reserva-feita';

  // teste adicionando os balões em uma data do calendário

  /*	
  	Para resolver este problema voce cria um for que percorra o dos dias do mes (div) e,
	arrayDias[i] - e coloca um if - Se o dia procurado for igual ao dia solicitado aí 
  	vocẽ acrescenta o append (
		"<a href='"+baseLink+"' class='linhas-link-do-dia'>" + 
		"<li class='modelo-das-reservas "+reservaFeita+"'>" +
			"Reserva: "+setor_ccih+ 
		"</li>"+
	"</a>"
	)
  */

  arrayDias[0].append (


  
	"<a href='"+baseLink+"' class='linhas-link-do-dia'>" + 
		"<li class='modelo-das-reservas "+reservaFeita+"'>" +
			"Reserva: "+setor_ccih+ 
		"</li>"+
	"</a>",

	"<a href='"+baseLink+"' class='linhas-link-do-dia'>" + 
		"<li class='modelo-das-reservas "+reservaFeita+"'>" +
			"Reserva: "+setor_ccih+ 
		"</li>"+
	"</a>",

	"<a href='"+baseLink+"' class='linhas-link-do-dia'>" + 
		"<li class='modelo-das-reservas reserva-feita'>" +
			"Reserva: "+setor_ccih+ 
		"</li>"+
	"</a>",

	"<a href='"+baseLink+"' class='linhas-link-do-dia'>" + 
		"<li class='modelo-das-reservas "+reservaFeita+"'>" +
			"Reserva: "+setor_ccih+ 
		"</li>"+
	"</a>",
	
  );  	 




  var setor_APS = 'APS';

 

  arrayDias[1].append (

  "<a href='"+baseLink+"' class='linhas-link-do-dia'>" + 
		"<li class='modelo-das-reservas "+reservaEstourada+"'>" +
			"Reserva: "+setor_ccih+ 
		"</li>"+
	"</a>",

	"<a href='"+baseLink+"' class='linhas-link-do-dia'>" + 
		"<li class='modelo-das-reservas "+reservaEstourada+"'>" +
			"Reserva: "+setor_ccih+ 
		"</li>"+
	"</a>",

	"<a href='"+baseLink+"' class='linhas-link-do-dia'>" + 
		"<li class='modelo-das-reservas "+reservaEstourada+"'>" +
			"Reserva: "+setor_ccih+ 
		"</li>"+
	"</a>",

	"<a href='"+baseLink+"' class='linhas-link-do-dia'>" + 
		"<li class='modelo-das-reservas "+reservaEstourada+"'>" +
			"Reserva: "+setor_ccih+ 
		"</li>"+
	"</a>",

  )
	
	var comunicacao = 'Comunicação';
	arrayDias[13].append(
		"<a href='"+baseLink+"' class='linhas-link-do-dia'>" + 
		"<li class='modelo-das-reservas "+reservaEstourada+"'>" +
			"Reserva: "+comunicacao+ 
		"</li>"+
	"</a>"
	)

	

	arrayDias[20].append(
		"<a href='"+baseLink+"' class='linhas-link-do-dia'>" + 
		"<li class='modelo-das-reservas "+reservaEstourada+"'>" +
			"Reserva: "+comunicacao+ 
		"</li>"+
	"</a>"
	)
  	

	arrayDias[29].append(
		"<a href='"+baseLink+"' class='linhas-link-do-dia'>" + 
		"<li class='modelo-das-reservas "+reservaEstourada+"'>" +
			"Reserva: Enfermagem" + 
		"</li>"+
	"</a>"
	)
  
 


	arrayDias[11].append(
		"<a href='"+baseLink+"' class='linhas-link-do-dia'>" + 
		"<li class='modelo-das-reservas "+reservaFeita+"'>" +
			"Reserva: Coloproctologia"+ 
		"</li>"+
	"</a>"
	)
  	

	arrayDias[19].append(
		"<a href='"+baseLink+"' class='linhas-link-do-dia'>" + 
		"<li class='modelo-das-reservas "+reservaFeita+"'>" +
			"Reserva: Cardiologia" + 
		"</li>"+
	"</a>"
	)

	arrayDias[26].append(
		"<a href='"+baseLink+"' class='linhas-link-do-dia'>" + 
		"<li class='modelo-das-reservas "+reservaFeita+"'>" +
			"Reserva: Enfermagem" + 
		"</li>"+
	"</a>"
	)




 

}


  	  


function nextMonth() {
  currentMonth++;
  if (currentMonth > 11) {
    currentMonth = 0;
    currentYear++;
  }
  renderCalendar(currentMonth, currentYear);
}

function prevMonth() {
  currentMonth--;
  if (currentMonth < 0) {
    currentMonth = 11;
    currentYear--;
  }
  renderCalendar(currentMonth, currentYear);
}

renderCalendar(currentMonth, currentYear); // Renderiza o calendário no mês atual

  
		
	</script>


</body>
</html>