@charset "UTF-8";



.container {
    max-width: 789px !important;
    padding-right: 0px; 
    padding-left: 0px;
}


.altura-checkbox-form {
    margin-top: 0.4em;
}


.container-form {
    margin: 15px;
}

.subtitulo-form {
    margin-bottom: 25px;
    margin-top: 10px;
}

.confi-datepicker-form-criar {
    margin-bottom: 0.5rem !important;
}

.espacamento-form {
    margin-bottom: 10px;
}



#gridCheck1 {
    background-color: red;
}



/* Testes */
.icone-checkbox::before {
    color: white !important;
    border-color: #adb5bd !important;
    /* background-color: #004680 !important; */

}

.icone-checkbox:checked {
    background-color: #004680  !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #004680 !important;
    border-color: #004680  !important;
}

.posicao-caixa-select {
    margin-left: 1.3em;
}

.container-col-form {
    max-width: 29em !important;
}

.label-form-outro-equipamento {
    margin-top: 2px;
    margin-left: 2px;
}

.input-text-outro-equipamento {
    margin-left: -13px !important;
}

.margin-outros-equipamentos {
    margin-left: -14px;
}

.container-button-submit {
    text-align: center;
}

.button-submit {
    margin-top: 2em;
    margin-bottom: 1em;
    padding: 1.5% 6% 1.5% 6%;
    font-size: 16px;
    font-weight: bold;
}


.form-op-personalizado {
    margin-left: 8.2em !important;
}

.input-form-repeticao-vezes {
    
}